.buttonContainer {
    border: 5px outset red;
    float: left;
    background-color: #4CAF50;
    text-align: center;
    width: 20%
}

.container {
    border: 5px outset red;
    float: left;
    text-align: left;
    width: 70%;
    background-color: #4CAF50;
    background-position: center center;
    background-size: 100%;
    filter: blur(0px);
    -webkit-filter: blur(0px);
}

.game {
    border: 5px outset red;
    float: left;
    text-align: left;
    color: white;
    width: 100%;
    display: none;
    box-shadow: inset 0 0 0 1000px rgba(0,0,0,.2);
}

.gameText {
    border: 5px outset blue;
    background-color: red;
    text-align: center;
    width: 300px;
    height: 300px;
    display: block;    
}

.block {
    display: block;
    width: 100%;
    border: 5px outset red;
    background-color: #4CAF50;
    padding: 14px 28px;
    font-size: 16px;
    cursor: pointer;
    text-align: center;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}